html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

.background {
	background-size: 100% 100%;
	background-repeat: no-repeat;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.background-inv {
	background-size: 100% 100%;
	background-repeat: no-repeat;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.primary-text {
	text-align: center;
	font-family: 'Dancing Script', cursive;
	color: black;
}

.secondary-text {
	text-align: center;
	font-family: 'Dancing Script', cursive;
	color: black;
}

.tertiary-text {
	text-align: center;
	font-family: 'Dancing Script', cursive;
	color: black;
}

nav.scrolled {
	background-color: #FCF8F5;
    /* transition: background-color 500ms ease-in-out; */
	box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28)
}

.offcanvas {
	width: 70% !important;
	background-color: #FCF8F5 !important;
}

a {
	font-family: 'Dancing Script', cursive;
	color: black !important;
	text-decoration: none !important;
}

a:hover {
	text-decoration: underline !important;
	text-decoration-thickness: 1px !important;
	text-underline-offset: 10px;
}

.hyperlink {
	color: var(--bs-link-color) !important;
}

.hyperlink:hover {
	color: var(--bs-link-color) !important;
}

@media only screen and (max-width: 767px) {
	.background {
		background-image: url("images/mobile.jpg");
	}
	.background-inv {
		background-image: url("images/mobile-inv.jpg");
	}

	.primary-text {
		font-size: 2.5em;
	}
	.secondary-text {
		font-size: 2em;
	}
	.tertiary-text {
		font-size: 1.2em;
	}

	.nav-item {
		font-size: 1.2em;
	}

	iframe {
		width: 80%;
		height: 20%;
	}

	#img-lista-nozze {
		width: 80%;
		height: 30%;
	}

	#img-tableau {
		width: 80%;
		height: 40%;
	}
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
	.background {
		background-image: url("images/tablet.jpg");
	}
	.background-inv {
		background-image: url("images/tablet-inv.jpg");
	}

	.primary-text {
		font-size: 4em;
	}
	.secondary-text {
		font-size: 2.5em;
	}
	.tertiary-text {
		font-size: 2em;
	}

	.nav-item {
		font-size: 2em;
	}

	iframe {
		width: 70%;
		height: 20%;
	}

	#img-lista-nozze {
		width: 60%;
		height: 30%;
	}

	#img-tableau {
		width: 60%;
		height: 40%;
	}
}


@media only screen and (min-width: 1024px) {
	.background {
		background-image: url("images/desktop.jpg");
	}
	.background-inv {
		background-image: url("images/desktop-inv.jpg");
	}

	.primary-text {
		font-size: 5em;
	}
	.secondary-text {
		font-size: 3em;
	}
	.tertiary-text {
		font-size: 2em;
	}

	.nav-item {
		font-size: 2em;
		padding-left: 1em !important;
  		padding-right: 1em !important;
	}

	iframe {
		width: 50%;
		height: 30%;
	}

	#img-lista-nozze {
		width: 40%;
		height: 40%;
	}

	#img-tableau {
		width: 30%;
		height: 50%;
	}
}
